Language: Cpp
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
IndentWidth: 2
MaxEmptyLinesToKeep: 2
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
ColumnLimit: 80 
BreakConstructorInitializersBeforeComma: true
